.App {
 /* text-align: center*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.elts1 {
  display: flex;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
   background-color : blue;
.elt
{
 float: left;
 height: 250px;
 width: 200px; 
}
.elts
{
  float:middle;
  height: 250px;
  width: 200px;
}
.elte
{
  float: right;
  height: 250px;
  width: 200px;
}

.logement
{
  color: #282c34;
}
.fml label{
  width: 150px;
  height: 30px;
  font-size: x-large;
  display: inline-block; 
}
.fml input{
  width: 150px;
  height: 30px;
  display: inline-block; 
}